<template>
    <v-app>
        <v-container>
            <v-row>
                <v-col cols="12" md="6">
                    <v-alert
                        color="#2A3B4D"
                        dark
                        prominent
                    >
                        <p class="text-center">
                            <span class="font-weight-bold lime--text accent-1">Παγκρήτιο Μαθητικό Τουρνουά Σκάκι "Βουκολιές 2021"</span>
                        </p>

                        <p class="text-justify">
                            Σύμφωνα με την 
                                <v-chip
                                    class="ma-2"
                                    color="pink"
                                    label
                                    text-color="white"
                                    outlined
                                    href="https://drive.google.com/file/d/1Xln3JtQFgjQaEgh8j0ZxdTz8yWaEjZSS/view?usp=sharing" 
                                    target="_blank"
                                >
                                    <v-icon left>
                                        mdi-file-document-edit
                                    </v-icon>
                                    Προκήρυξη
                                </v-chip>
                            της Οργανωτικής Επιτροπής Σχολικών Αθλητικών Δραστηριοτήτων (Ο.Ε.Σ.Α.Δ.),
                            οι μαθητές καλούνται να δημιουργήσουν λογαριασμό στην πλατφόρμα Lichess.org. Βίντεο οδηγιών βρίσκεται
                                <v-chip
                                    class="ma-2"
                                    color="pink"
                                    label
                                    text-color="white"
                                    outlined
                                    href="https://tinyurl.com/skaki" 
                                    target="_blank"
                                >
                                    εδώ
                                </v-chip>.

                            Το username του lichess θα πρέπει να αναγραφεί στη διπλανή φόρμα (αίτηση). 

                             Όσοι μαθητές έλαβαν μέρος πέρυσι, θα πρέπει να κάνουν εκ νέου αίτηση.
                                <v-avatar
                                    class="ma-2"
                                    size="80"
                                >
                                    <v-img src='./images/chess.png'></v-img>
                                </v-avatar>

                        </p>
                        <p class="text-justify">
                            Μόλις ολοκληρωθεί η ταυτοποίηση από τους διοργανωτές, δίνεται η δυνατότητα στο συμμετέχοντα
                            να συνεχίσει και να επιλέξει από τη λίστα των αναρτημένων Πρωταθλημάτων το αντίστοιχο πρωτάθλημα 
                            για την τάξη του.
                        </p>
                        <p class="text-justify">
                            Την ημέρα και ώρα που έχει ανακοινωθεί ξεκινά το πρωτάθλημα.
                        </p>
                    </v-alert>

                </v-col>
                <v-col cols="12" md="6">
                    <v-card class="mx-auto">
                        <v-card-title>
                            Αίτηση
                        </v-card-title>
                        <v-card-text>
                            <v-form ref="studentForm" v-model="formValidity">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>

                                <v-alert
                                    v-if="errors.length"
                                    outlined
                                    type="error"
                                    text
                                >
                                    <p>Προσοχή! η αποστολή των στοιχείων απέτυχε:</p>
                                    <ul v-for="(error, index) in errors" :key="index">
                                        <li>{{ error[0] }}</li>
                                    </ul>
                                </v-alert>

                                <v-text-field
                                    v-model="profile.fullname"
                                    label="Ονοματεπώνυμο"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.county_name"
                                    label="Νομός"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.vathmida"
                                    label="Βαθμίαδα"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.school_mail"
                                    label="E-mail Σχολικής Μονάδας"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.school_name"
                                    ref="school_name"
                                    prepend-icon="mdi-hospital-box"
                                    label="Σχολική Μονάδα"
                                    color="purple darken-2"
                                    @focus="replyFromSent=''"
                                    :rules="rules.name"
                                    outlined
                                />

                                <v-select
                                    v-model="profile.student_class"
                                    :rules="rules.class"
                                    prepend-icon="mdi-hospital-box"
                                    :items="classes"
                                    label="Τάξη Μαθητή"
                                    outlined
                                ></v-select>

                                <v-text-field
                                    v-model="profile.lichess_username"
                                    ref="lichess_username"
                                    prepend-icon="mdi-hospital-box"
                                    label="Λογαριασμός LiChess (username)"
                                    color="purple darken-2"
                                    :rules="rules.lichess_username"
                                    outlined
                                />

                                <!-- <v-text-field
                                    v-model="profile.mobile"
                                    prepend-icon="mdi-cellphone-basic"
                                    label="Κινητό Τηλέφωνο"
                                    :rules="rules.mobile"
                                    color="purple darken-2"
                                    outlined
                                />

                                <v-text-field
                                    v-model="profile.phone"
                                    prepend-icon="mdi-phone-classic"
                                    label="Σταθερό Τηλέφωνο"
                                    :rules="rules.phone"
                                    color="purple darken-2"
                                    outlined
                                />

                                <date-picker 
                                    :birth="profile.birth" 
                                    v-on:birth-change="newDate"
                                /> -->
                            </v-form>
                        </v-card-text>
                        <v-card-actions v-if="!submitting">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>
                                <v-btn
                                    v-if="!replyFromSent.length"
                                    class="mx-auto"
                                    outlined
                                    x-large
                                    color="indigo"
                                    @click="dialog=true"
                                    :disabled="!formValidity"
                                >
                                    <v-icon
                                        large
                                        color="indigo"
                                    >
                                        mdi-email-send-outline
                                    </v-icon>
                                    <span class="text-lowercase">Αποστολή αίτησης</span>
                                </v-btn>
                        </v-card-actions>
                        <v-card-actions v-if="submitting">
                            <loader 
                                :show="submitting"
                            />
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <ModalChess
            :dialog="dialog" 
            v-on:submit-form="submitForm"
            v-on:close-dialog="closeDialog"
        />
    </v-app>
</template>

<script>
    import ModalChess from './ModalChess.vue'
    import Loader from './Loader.vue'
    import axios from 'axios'
    import DatePicker from './DatePicker.vue'


    export default {
        props:{
            profile: {
                type: Object,
                required: true
            },
            token: {
                type: String,
                required: true
            }
        },

        components:{
            ModalChess, Loader, DatePicker
        },

        data() {
            return {
                classes: [
                    'Α Δημοτικού',
                    'Β Δημοτικού',
                    'Γ Δημοτικού',
                    'Δ Δημοτικού',
                    'Ε Δημοτικού',
                    'ΣΤ Δημοτικού',
                    'Γυμνάσιο ή Λύκειο',
                ],

                dialog: false,
                submitting: false,
                replyFromSent: '',
                errors: [],
                formValidity: false,
                rules: {
                    phone: [
                        value => !!value || 'Το σταθερό τηλέφωνο είναι υποχρεωτικό.',
                        value => {
                                let expression = /^\d{10}$/gm
                                return expression.test(value) || 'το τηλέφωνο πρέπει να έχει 10 ψηφία.'
                        }
                    ],
                    name: [
                        value => !!value || 'Η Σχολική Μονάδα είναι υποχρεωτική.',
                        // value => {
                        //     let expression = /^\d{11}$/gm
                        //     return expression.test(value) || 'το Α Μ Κ Α πρέπει να έχει ακριβώς 11 αριθμητικά ψηφία.'
                        // }
                    ],
                    lichess_username: [
                        value => !!value || 'Ο Λογαριασμός lichess είναι Υποχρεωτικός',
                        // value => {
                        //     let expression = /^\d{11}$/gm
                        //     return expression.test(value) || 'το Α Μ Κ Α πρέπει να έχει ακριβώς 11 αριθμητικά ψηφία.'
                        // }
                    ],
                    class: [
                        value => !!value || 'Η τάξη είναι υποχρεωτική',
                        // value => {
                        //     let expression = /^\d{11}$/gm
                        //     return expression.test(value) || 'το Α Μ Κ Α πρέπει να έχει ακριβώς 11 αριθμητικά ψηφία.'
                        // }
                    ],
                    // mobile: [
                    //     value => !!value || 'Το κινητό τηλέφωνο είναι ποχρεωτικό.',
                    //     // value => {
                    //     //         let expression = /^69.*/gm
                    //     //         return expression.test(value) || 'το κινητό τηλέφωνο πρέπει να ξεκινάει από 69...'
                    //     // },
                    //     // value => {
                    //     //         let expression = /^69\d{8}$/gm
                    //     //         return expression.test(value) || 'το κινητό τηλέφωνο πρέπει να έχει 10 ψηφία.'
                    //     // }
                    // ]
                }
            }
        },

        mounted(){
            this.$nextTick( () => {
                this.$refs.school_name.focus();
            })
        },

        methods:{

            closeDialog(){
                this.dialog = false;
            },
            submitForm(){
                this.dialog = false
                this.submitting = true

                axios.post('/api/ofa/student/sentChessRequest?api_token='+this.token,{
                    fullname: this.profile.fullname,
                    school_name: this.profile.school_name,
                    student_class: this.profile.student_class,
                    lichess_username: this.profile.lichess_username,
                })
                    .then(r => {
                        this.submitting = false
                        this.resetForm()
                        this.$refs.studentForm.resetValidation()
                        this.replyFromSent = r.data
                        this.errors = []
                    })
                    .catch(e => {
                        this.errors = Object.values(e.response.data.errors)
                        this.submitting = false
                        this.replyFromSent = ''
                        this.$refs.studentForm.resetValidation()
                    }) 
            },
            resetForm(){
                //
            }
        }
    }
</script>
