<template>
    <v-app>
        <v-container>
            <v-row>
                <v-col cols="12" md="6">
                    <v-alert
                        color="#2A3B4D"
                        dark
                        prominent
                        dismissible
                    >
                        <p class="text-center">
                            <span class="font-weight-bold lime--text accent-1">Εμβολιασμός εκπαιδευτικών</span>
                        </p>
                        <p class="text-justify">
                            Σύμφωνα με την εγκύκλιο 34522/Ε3/26.03.2021 του ΥΠΕΘ,
                            όσοι επιθυμούν να καταστούν δικαιούχοι εμβολιασμού (covid 19) για πρώτη φορά, από αδιάθετες δόσεις εμβολίων
                            στα εμβολιαστικά κέντρα συμπληρώνουν την παρούσα αίτηση καθώς και 
                            <v-chip
                                    class="ma-2"
                                    color="pink"
                                    label
                                    text-color="white"
                                    outlined
                                    href="https://drive.google.com/file/d/17mjrqgQ-zBp9Bh1b8vURWUo88bn6gPM2/view?usp=sharing" 
                                    target="_blank"
                                >
                                    <v-icon left>
                                        mdi-file-document-edit
                                    </v-icon>
                                    Υπεύθυνη Δήλωση
                                </v-chip>
                             όπου συναινούν για τη χρήση των προσωπικών στοιχείων ή με τη χρήση 
                                <v-chip
                                    class="ma-2"
                                    color="pink"
                                    label
                                    text-color="white"
                                    outlined
                                    href="https://dilosi.services.gov.gr/create/q/confirm-personal-info?refname=YPDIL" 
                                    target="_blank"
                                >
                                    E-Gov
                                </v-chip>.
                        </p>
                        <p class="text-justify">Με τη συγκεκριμένη διαδικασία καταρτίζεται κατάλογος εκπαιδευτικών με σειρά ηλικίας.</p>
                        <p class="text-justify">
                            Η Ομάδα Συντονισμού Εμβολιασμών αναλαμβάνει κατόπιν ενημέρωσής της από τα εμβολιαστικά κέντρα
                            να επικοινωνήσει μαζί σας. Κατά την ειδοποίησή σας, θα πρέπει να δηλώσετε τη δυνατότητα έγκαιρης προσέλευσης στο εμβολιαστικό κέντρο.
                        </p>
                        <p class="text-justify">
                            Εαν εμβολιαστείτε ενημερώνετε την Ομάδα Συντονισμού, ώστε να απαλειφθεί το όνομά σας από τον κατάλογο.
                            Σε περίπτωση αδυναμίας προσέλευσης παραμένετε στον καταλογο για επόμενη ειδοποίηση. 
                        </p>
                        <p class="text-justify">
                            Τέλος επισημαίνεται ότι οι ώρες εμβολιασμών είναι μετά τις 15:00 και ο χρόνος απόκρισής θα πρέπει να είναι άμεσος.
                        </p>
                    </v-alert>

                </v-col>
                <v-col cols="12" md="6">
                    <v-card class="mx-auto">
                        <v-card-title>
                            Αίτηση
                        </v-card-title>
                        <v-card-text>
                            <v-form ref="teacherForm" v-model="formValidity">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>

                                <v-alert
                                    v-if="errors.length"
                                    outlined
                                    type="error"
                                    text
                                >
                                    <p>Προσοχή! η αποστολή των στοιχείων απέτυχε:</p>
                                    <ul v-for="(error, index) in errors" :key="index">
                                        <li>{{ error[0] }}</li>
                                    </ul>
                                </v-alert>

                                <v-text-field
                                    v-model="profile.fullname"
                                    label="Ονοματεπώνυμο"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.schoolBase.name"
                                    label="Σχολείο Κύριας Απασχόλησης"
                                    disabled
                                    filled
                                />

                                <v-text-field
                                    v-model="profile.amka"
                                    ref="amka"
                                    prepend-icon="mdi-hospital-box"
                                    label="Α Μ Κ Α"
                                    color="purple darken-2"
                                    @focus="replyFromSent=''"
                                    :rules="rules.amka"
                                    outlined
                                />

                                <v-text-field
                                    v-model="profile.mobile"
                                    prepend-icon="mdi-cellphone-basic"
                                    label="Κινητό Τηλέφωνο"
                                    :rules="rules.mobile"
                                    color="purple darken-2"
                                    outlined
                                />

                                <v-text-field
                                    v-model="profile.phone"
                                    prepend-icon="mdi-phone-classic"
                                    label="Σταθερό Τηλέφωνο"
                                    :rules="rules.phone"
                                    color="purple darken-2"
                                    outlined
                                />

                                <date-picker 
                                    :birth="profile.birth" 
                                    v-on:birth-change="newDate"
                                />
                            </v-form>
                        </v-card-text>
                        <v-card-actions v-if="!submitting">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>
                                <v-btn
                                    v-if="!replyFromSent.length"
                                    class="mx-auto"
                                    outlined
                                    x-large
                                    color="indigo"
                                    @click="dialog=true"
                                    :disabled="!formValidity"
                                >
                                    <v-icon
                                        large
                                        color="indigo"
                                    >
                                        mdi-email-send-outline
                                    </v-icon>
                                    <span class="text-lowercase">Αποστολή αίτησης</span>
                                </v-btn>
                        </v-card-actions>
                        <v-card-actions v-if="submitting">
                            <loader 
                                :show="submitting"
                            />
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <ModalTeacherVaccine
            :dialog="dialog" 
            v-on:submit-form="submitForm"
            v-on:close-dialog="closeDialog"
        />
    </v-app>
</template>

<script>
    import ModalTeacherVaccine from './ModalTeacherVaccine.vue'
    import Loader from './Loader.vue'
    import axios from 'axios'
    import DatePicker from './DatePicker.vue'


    export default {
        props:{
            profile: {
                type: Object,
                required: true
            },
            token: {
                type: String,
                required: true
            }
        },

        components:{
            ModalTeacherVaccine, Loader, DatePicker
        },

        data() {
            return {
                dialog: false,
                submitting: false,
                replyFromSent: '',
                errors: [],
                formValidity: false,
                rules: {
                    phone: [
                        value => !!value || 'Το σταθερό τηλέφωνο είναι υποχρεωτικό.',
                        value => {
                                let expression = /^\d{10}$/gm
                                return expression.test(value) || 'το τηλέφωνο πρέπει να έχει 10 ψηφία.'
                        }
                    ],
                    amka: [
                        value => !!value || 'Το ΑΜΚΑ είναι υποχρεωτικό.',
                        value => {
                            let expression = /^\d{11}$/gm
                            return expression.test(value) || 'το Α Μ Κ Α πρέπει να έχει ακριβώς 11 αριθμητικά ψηφία.'
                        }
                    ],
                    mobile: [
                        value => !!value || 'Το κινητό τηλέφωνο είναι ποχρεωτικό.',
                        value => {
                                let expression = /^69.*/gm
                                return expression.test(value) || 'το κινητό τηλέφωνο πρέπει να ξεκινάει από 69...'
                        },
                        value => {
                                let expression = /^69\d{8}$/gm
                                return expression.test(value) || 'το κινητό τηλέφωνο πρέπει να έχει 10 ψηφία.'
                        }
                    ]
                }
            }
        },

        mounted(){
            this.$nextTick( () => {
                this.$refs.amka.focus();
            })
        },

        methods:{
            newDate(data){
                this.profile.birth = data
            },

            closeDialog(){
                this.dialog = false;
            },
            submitForm(){
                this.dialog = false
                this.submitting = true

                axios.post('/api/ofa/teacher/sentVaccineRequest?api_token='+this.token,{
                    fullname: this.profile.fullname,
                    phone: this.profile.phone,
                    mobile: this.profile.mobile,
                    amka: this.profile.amka,
                    date: this.profile.birth,
                    school: this.profile.schoolBase.id
                })
                    .then(r => {
                        this.submitting = false
                        this.resetForm()
                        this.$refs.teacherForm.resetValidation()
                        this.replyFromSent = r.data
                        this.errors = []
                    })
                    .catch(e => {
                        this.errors = Object.values(e.response.data.errors)
                        this.submitting = false
                        this.replyFromSent = ''
                        this.$refs.teacherForm.resetValidation()
                    }) 
            },
            resetForm(){
                //
            }
        }
    }
</script>
