<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          είστε σίγουροι;
        </v-card-title>
        <v-card-text>
            με τη Διαγραφή από τον κατάλογο δε θα μπορείτε να εμβολιαστείτε γρήγορα...
        </v-card-text>
        <v-card-text>
            σκεφτείτε το ξανά...
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey lighten-2"
            text
            @click="closeDialog"
          >
            <span class="text-lowercase">επιστροφή</span>
          </v-btn>
          <v-btn
            color="green darken-4"
            outlined
            @click="submitForm"
          >
            <span class="text-lowercase">Είμαι σίγουρος</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
    export default {
        props:{
            dialog:{
                type: Boolean,
                default: false
            }
        },

        methods:{
            closeDialog(){
                this.$emit('close-dialog')
            },

            submitForm(){
                this.$emit('submit-delete-request')
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>