<template>
    <v-app>
        <v-container>
            <v-row v-if="replyFromSent.length">
                <v-col cols="12" md="12">
                    <v-alert
                        class="mt-12"
                        outlined
                        type="error"
                        text
                    >
                        {{ replyFromSent }}
                    </v-alert>
                </v-col>
            </v-row>
            <v-row v-if="!replyFromSent.length">
                <v-col cols="12" md="12">
                    <v-alert
                        color="#C51162"
                        dark
                        icon="mdi-material-design"
                        border="right"
                    >
                        Η Αίτηση για ένταξη στον κατάλογο εμβολιασμού εκπαιδευτικών έχει καταχωρηθεί.
                    </v-alert>
                </v-col>
            </v-row>
            <v-row v-if="!replyFromSent.length">
                <v-col cols="12" md="12">
                    <v-card
                        color="#1F7087"
                        dark
                    >
                        <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-title
                                class="headline"
                            >
                                <div class="text-h4">
                                    Σύντομα θα επικοινωνήσουμε μαζί σας
                                </div>
                            </v-card-title>

                            <v-card-subtitle class="text-h6">
                                    σε περίπτωση που θέλετε να διαγραφείτε από τον κατάλογο εμβολιασμού 
                                    πατήστε στο παρακάτω κουμπί
                            </v-card-subtitle>

                            <v-card-actions>
                            <v-btn
                                class="ml-2 mt-5"
                                outlined
                                @click="dialog=true"
                            >
                                ΔΙΑΓΡΑΦΗ ΑΠΟ ΤΟΝ ΚΑΤΑΛΟΓΟ
                            </v-btn>
                            </v-card-actions>
                            <v-card-actions v-if="submitting">
                                <loader 
                                    :show="submitting"
                                />
                            </v-card-actions>
                        </div>

                        <v-avatar
                            class="ma-2"
                            size="220"
                            tile
                        >
                            <v-img src='./images/vaccine.png'></v-img>
                        </v-avatar>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <DeleteModal
            :dialog="dialog" 
            v-on:submit-delete-request="submitForm"
            v-on:close-dialog="closeDialog"
        />
    </v-app>
</template>

<script>
    import DeleteModal from './CovidDeleteRequestModal.vue'
    import Loader from './Loader.vue'

    export default{
        props:{
            token: {
                type: String,
                required: true
            }
        },
        data(){
            return {
                message: 'Nick',
                dialog: false,
                submitting: false,
                replyFromSent: '',

            }
        },

        components: {
            DeleteModal, Loader
        },

        methods:{
            closeDialog(){
                this.dialog = false;
            },
            submitForm(){
                this.dialog = false
                this.submitting = true

                axios.post('/api/ofa/teacher/deleteVaccineRequest?api_token='+this.token,{
                    action: 'deleting'
                })
                    .then(r => {
                        this.submitting = false
                        this.replyFromSent = r.data
                        setTimeout(() => {
                            document.location.href="/";
                        }, 3000)
                    })
                    .catch(e => {
                        this.submitting = false
                        this.replyFromSent = 'Error'
                    }) 
            },
        }
    }
</script>
