<template>
    <div>
        <div v-if="studentsList.length <= currentSport.list_limit">
            <div 
                v-if="allStudentsByGender.length > 0" 
                class="col-md-3 col-md-offset-2"
            >
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        [1] ΕΠΙΛΟΓΗ ΜΑΘΗΤΩΝ
                    </div>
                    <div class="panel-body text-center">
                        <div v-if="individual">
                            <select 
                                v-model="selectedStudentIndividual" 
                                style="margin-bottom: 10px; max-width: 80%"
                            >
                                <option 
                                    v-for="(student, index) in allStudentsByGender" 
                                    :value="student"
                                >
                                    {{ student.last_name }} {{ student.first_name }} [{{ student.am }}]
                                </option>
                            </select>
                            <div 
                                v-show="selectedStudentIndividual!=null"
                                class="form-group" 
                            >
                                <label>Αγώνισμα:</label>
                                <select 
                                    v-model="selectedIndividualSport" 
                                    @change="addStudentToIndividualList(selectedStudentIndividual, selectedIndividualSport)"
                                >
                                    <option v-for="sport in individualSports" :value="sport">
                                        {{ sport.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span>
                                    <div class="col-md-12 alert alert-warning text-center">
                                        επέλεξε τον μαθητή και στη συνέχεια το αγώνισμά του.
                                    </div>
                                </span>
                            </div>
                        </div>

                        <div v-else>
                            <select 
                                v-model="selectedStudent" 
                                style="margin-bottom: 10px; max-width: 80%"
                            >
                                <option v-for="(student, index) in allStudentsByGender" v-bind:value="student">
                                    {{ student.last_name }} {{ student.first_name }} [{{ student.am }}]
                                </option>
                            </select>
                            <span 
                                v-if="selectedStudent!=null"
                                class="pointers" 
                                @click="addStudentToList(selectedStudent)" 
                            >
                                <button class="btn btn-success btn-sm">
                                    προσθήκη στη λίστα
                                </button>
                            </span>
                            <span v-else>
                                <span class="label label-warning text-center">
                                    επέλεξε έναν μαθητή από τη λίστα
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div 
                v-cloak 
                v-else 
                class="col-md-3 col-md-offset-2"
            >
                <div class="alert alert-danger">
                    Δεν υπάρχουν μαθητές για επιλογή
                </div>
            </div>
            <div class="col-md-2 text-center">
                <h1>ή</h1>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        [2] ΝΕΟΣ ΜΑΘΗΤΗΣ
                    </div>
                    <div class="panel-body text-center">
                        <button 
                            class="btn btn-success btn-sm"
                            @click="showModalNewStudent" 
                        >
                            Δημιουργία
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div v-else>
            <div class="alert alert-danger col-md-6 col-md-offset-3">
                <p><strong>Προσοχή!</strong></p>
                <p>
                    Δεν μπορείτε να εισάγετε άλλους μαθητές στη Λίστα διότι φτάσατε το ανώτατο όριο.
                </p>
            </div>
        </div>
            <modal-student 
                :sex="currentSex" 
                :show="showModalStudent" 
                :token="token"
                :individual="individual"
                @add-new-student-to-all-students="addNewStudentToAllStudents"
                @add-new-student-to-list="addNewStudentToList"
                @close-student-modal="hideModalNewStudent"
            />
    </div>
</template>

<script>
    import ModalStudent from './ModalNewStudent.vue';

    export default {

        components : {
            ModalStudent
        },

        props: {
            allStudentsByGender :{
                type : Array,
                required: true,
                twoWay: true
            },
            studentsList: {
                type: Array,
                required: true,
                twoWay: true
            },
            currentSport : {
                type : Object,
                required: true
            },

            token : {
                type : String,
                required : true
            },

            currentSex : {
                type : Number,
                required : true,
                twoWay : true
            },

            individual : {
                type : Boolean,
                required : false,
                default: false
            }, 
            individualSports : {
                type : Array,
                default : null
            }
        },

        data () {
            return {
                selectedStudent : null,
                showModalStudent : false,
                selectedStudentIndividual : null,
                selectedIndividualSport : null
            }
        },

        methods : {
            addStudentToList (selected){
                this.pushAndSortList(selected);
                let index = this.allStudentsByGender.indexOf(selected);
                this.$delete(this.allStudentsByGender, index);
                this.selectedStudent = null;
            },
            
            addNewStudentToAllStudents(student){
                this.hideModalNewStudent();
                this.pushAndSortListIndividual(student);
                // this.allStudentsIndividual.push(student);
                // this.allStudentsIndividual.sort(this.sortStudents);
                this.successMessage("Ο μαθητής καταχωρήθηκε. Επέλεξέ τον από την [1] ΕΠΙΛΟΓΗ ΜΑΘΗΤΩΝ.", true);
            },

            addNewStudentToList(student){
                this.hideModalNewStudent();
                this.pushAndSortList(student);
                this.successMessage('Ο μαθητής καταχωρήθηκε με προστέθηκε στη λίστα με επιτυχία');
            },

            pushAndSortList(student){
                this.studentsList.push(student);
                if(this.individual){
                    this.studentsList.sort(this.sortStudentsBySpecialSport);
                }else{
                    this.studentsList.sort(this.sortStudents);
                }
            },

            pushAndSortListIndividual(student){
                this.allStudentsByGender.push({
                    am : this.parseToInt(student.am),
                    class : this.parseToInt(student.class),
                    first_name : student.first_name,
                    last_name : student.last_name,
                    loader : 0,
                    middle_name : student.middle_name,
                    mothers_name : student.mothers_name,
                    school_id : student.school_id,
                    sex : this.parseToInt(student.sex),
                    year_birth : this.parseToInt(student.year_birth)
                });

                this.allStudentsByGender.sort(this.sortStudents);
            },

            hideModalNewStudent(){
              this.showModalStudent = false;
            },

            sortStudents (a,b){
                if (a.last_name > b.last_name){
                    return 1;
                }
                if (a.last_name < b.last_name){
                    return -1;
                }
            },

            sortStudentsBySpecialSport(a, b){
                if (a.sport_name_special < b.sport_name_special){
                    return -1;
                }
                if (a.sport_name_special > b.sport_name_special){
                    return 1;
                }
            },

            successMessage(message, important = false){
                this.$emit('display-message',{
                    title : 'Συγχαρητήρια!',
                    body  : [message],
                    type  : 'success',
                    important    : important
                });
            },

            showModalNewStudent(){
                this.showModalStudent = true;
            },

            addStudentToIndividualList(student, sport_special){
                this.studentsList.push({
                    am : student.am,
                    birth : student.birth,
                    class : student.class,
                    first_name : student.first_name,
                    last_name : student.last_name,
                    loader : 0,
                    middle_name : student.middle_name,
                    mothers_name : student.mothers_name,
                    school_id : student.school_id,
                    sex : student.sex,
                    year_birth : student.year_birth,
                    sport_id_special : sport_special.id,
                    sport_name_special : sport_special.name
                });

                this.studentsList.sort(this.sortStudentsBySpecialSport);

                let index = this.allStudentsByGender.indexOf(student);
                this.$delete(this.allStudentsByGender, index);

                this.selectedStudentIndividual = null;
                this.selectedIndividualSport = null;

                this.$emit('display-message',{
                    title : 'Συγχαρητήρια!',
                    body  : [`Ο μαθητής ${student.last_name} ${student.first_name} καταχωρήθηκε με επιτυχία στη λίστα για το αγώνισμα ${sport_special.name}...`],
                    type  : 'success'
                });
            },

            parseToInt(value){
                let parsed = parseInt(value);
                if(isNaN(parsed)) { return 0;}
                return parsed;
            }
        }
    }
</script>

