<template>
    <v-app>
        <v-container>
            <v-row>
                <v-col cols="12" md="6">
                    <v-alert
                        color="#2A3B4D"
                        dark
                        icon="mdi-handball"
                        border="right"
                        prominent
                    >
                        <p class="text-justify">
                            Η <span class="font-weight-bold lime--text accent-1">Ομάδα Φυσικής Αγωγής</span> σε συνεργασία με την Συντονίστρια Εκπαιδευτικών Θεμάτων Φυσικής Αγωγής, στα πλαίσια υποστήριξης και συνεργασίας  με τους καθηγητές Φυσικής Αγωγής και τις σχολικές μονάδες για την εύρυθμη εκτέλεση του μαθήματος, δημιούργησε ένα επιπλέον κανάλι άμεσης επικοινωνίας. 
                        </p>
                        <p class="text-justify">
                            Για την περίοδο λοιπόν που ισχύουν έκτακτα μέτρα λειτουργίας των Δημόσιων Υπηρεσιών και την ενθάρρυνση της από κοινού επίλυσης θεμάτων που άπτονται των αρμοδιοτήτων της, η Ομάδα Φυσικής Αγωγής σας παρακινεί να χρησιμοποιείτε την παρακάτω φόρμα επικοινωνίας. Σε αυτήν γνωστοποιήστε και καταγράψτε μας τυχόν βοήθεια που θέλετε να λάβετε σε δυσκολίες που προκύπτουν στην λειτουργικότητα σας. Στην συνέχεια θα επικοινωνήσουμε άμεσα μαζί σας, ώστε να συνδράμουμε στην υποστήριξή σας.
                        </p>
                        <p class="text-justify">
                            Τέλος να σας ενημερώσουμε ότι υπάρχει η δυνατότητα και για εξ αποστάσεως συνάντηση με την Ομάδα Φυσικής Αγωγής, εάν επιθυμείτε σε πλατφόρμα κατόπιν ραντεβού, στις παρακάτω προεπιλεγμένες ημέρες και ώρες. Δευτέρα  και Τετάρτη 10-12πμ. Το ραντεβού το ζητάτε πάλι μέσω της φόρμας επικοινωνίας και σας απαντάμε για την διαθεσιμότητα, την επιβεβαίωση αυτού και την διαδικασία σύνδεσής μας.
                        </p>
                        <p class="text-justify">
                            Θα χαρούμε να μας 
                                <v-chip
                                    class="ma-2"
                                    color="pink"
                                    label
                                    text-color="white"
                                    outlined
                                >
                                    <v-icon left>
                                        mdi-football
                                    </v-icon>
                                    ΔΩΣΕΤΕ ΠΑΣΑ
                                </v-chip>
                            και ως Ομάδα όλοι μαζί, να αντιμετωπίσουμε δυσκολίες που σας προβληματίζουν, έως ότου αποκατασταθεί η πλήρης λειτουργικότητα μας.
                        </p>
                    </v-alert>

                </v-col>
                <v-col cols="12" md="6">
                    <v-card class="mx-auto">
                        <v-card-title>
                            Δώσε πάσα στην Ομάδα...
                        </v-card-title>
                        <v-card-text>
                            <v-form ref="teacherForm" v-model="formValidity">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>

                                <v-text-field
                                    v-model="fullname"
                                    label="Ονοματεπώνυμο"
                                    outlined
                                    disabled
                                />
                                <v-text-field
                                    v-model="email"
                                    prepend-icon="mdi-at"
                                    label="E-mail"
                                    :rules="rules.email"
                                    type="email"
                                />
                                <v-text-field
                                    v-model="phone"
                                    prepend-icon="mdi-cellphone-basic"
                                    label="Κινητό Τηλέφωνο"
                                    :rules="rules.phone"
                                />

                                <v-text-field
                                    required
                                    ref="sub"
                                    v-model="subject"
                                    prepend-icon="mdi-post-outline"
                                    label="Θέμα:"
                                    :rules="rules.subject"
                                    @focus="replyFromSent=''"
                                />

                                <v-textarea
                                    v-model="message"
                                    background-color="blue-grey lighten-5"
                                    rounded
                                    outlined
                                    auto-grow
                                    clearable
                                    counter
                                    maxlength="800"
                                    :rules="rules.message"
                                    label="Σώμα κειμένου"
                                />

                            </v-form>
                        </v-card-text>
                        <v-card-actions v-if="!submitting">
                                <v-alert
                                    v-if="replyFromSent.length"
                                    outlined
                                    type="success"
                                    text
                                >
                                    {{ replyFromSent }}
                                </v-alert>
                                <v-btn
                                    class="mx-auto"
                                    outlined
                                    x-large
                                    color="indigo"
                                    @click="dialog=true"
                                    :disabled="!formValidity"
                                >
                                    <v-icon
                                        large
                                        color="indigo"
                                    >
                                        mdi-football
                                    </v-icon>
                                    <span class="text-lowercase">Δώσε πάσα</span>
                                </v-btn>
                        </v-card-actions>
                        <v-card-actions v-if="submitting">
                            <loader 
                                :show="submitting"
                            />
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <ModalTeacher 
            :dialog="dialog" 
            v-on:submit-form="submitForm"
            v-on:close-dialog="closeDialog"
        />
    </v-app>
</template>

<script>
    import ModalTeacher from './ModalTeacher.vue'
    import Loader from './Loader.vue'
    import axios from 'axios'

    export default {
        props:{
            pemail: {
                type: String,
                default: ''
            },
            pfullname: {
                type: String,
                required: true
            },
            pphone: {
                type: String,
                default: ''
            },
            token: {
                type: String,
                required: true
            }
        },

        components:{
            ModalTeacher, Loader
        },

        data() {
            return {
                email: this.pemail,
                fullname: this.pfullname,
                phone: this.pphone,
                subject: '',
                message: '',
                dialog: false,
                submitting: false,
                replyFromSent: '',

                formValidity: false,
                rules: {
                    email: [
                        value => !!value || 'Υποχρεωτικό.',
                        value => (value || '').length <= 30 || 'μέγιστο 30 χαρακτήρες.',
                        value => {
                            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                            return pattern.test(value) || 'Λάθος E-mail.'
                        },
                    ],
                    phone: [
                        value => {
                            if(value.length != 0){
                                let expression = /^69.*/gm
                                return expression.test(value) || 'το τηλέφωνο πρέπει να ξεκινάει από 69...'
                            } 
                            return true
                        },
                        value => {
                            if(value.length != 0){
                                let expression = /^69\d{8}$/gm
                                return expression.test(value) || 'το τηλέφωνο πρέπει να έχει 10 ψηφία.'
                            } 
                            return true
                        }
                    ],
                    subject:[
                        value => !!value || 'Το θέμα δε μπορεί να είναι κενό.',
                        value => (value || '').length <= 50 || 'μέγιστο 50 χαρακτήρες.'
                    ],
                    message:[
                        value => !!value || 'Το κείμενο δε μπορεί να είναι κενό.',
                        value => (value || '').length <= 800 || 'μέγιστο 800 χαρακτήρες.'
                    ]
                }
            }
        },

        mounted(){
            this.$nextTick( () => {
                this.$refs.sub.focus();
            })
        },

        methods:{
            closeDialog(){
                this.dialog = false;
            },
            submitForm(){
                this.dialog = false
                this.submitting = true

                axios.post('/api/ofa/teacher/sentFormRequest?api_token='+this.token,{
                    fullname: this.fullname,
                    email: this.email,
                    phone: this.phone,
                    subject: this.subject,
                    message: this.message
                })
                    .then(r => {
                        this.submitting = false
                        this.resetForm()
                        this.$refs.teacherForm.resetValidation()
                        this.replyFromSent = 'Η πάσα έγινε με επιτυχία.'
                    })
                    .catch(e => console.log(e.response)) 
            },
            resetForm(){
                this.message = ''
                this.subject = ''
            }
        }
    }
</script>
