<template>
    <div class="col-md-12">
        <table 
            v-cloak 
            v-if="studentsList.length > 0" 
            class="table table-bordered"
        >
            <thead>
                <tr>
                    <th 
                        :colspan="individual ? 9 : 8" 
                        class="text-center"
                    >
                        <span 
                            v-cloak 
                            style="color: #0000ff;font-size: 14pt"
                        >
                            {{ studentsList.length }}
                            <span v-if="studentsList.length == 1">
                                μαθητής
                            </span>
                            <span v-else>
                                μαθητές
                            </span>
                        </span> στη Λίστα
                        <span 
                            v-cloak 
                            style="color: red;font-size: 9pt"
                        >
                            ({{ (currentSport.list_limit - studentsList.length) }} διαθέσιμοι)
                        </span>
                    </th>
                </tr>
                <tr>
                    <th class="text-center">
                        A/A
                    </th>
                    <th v-show="individual" class="text-center">
                        Αγώνισμα
                    </th>
                    <th class="text-center">
                        Α.Μ.
                    </th>
                    <th class="text-center">
                        Επώνυμο
                    </th>
                    <th class="text-center">
                        Όνομα
                    </th>
                    <th class="text-center">
                        Πατρώνυμο
                    </th>
                    <th class="text-center">
                        Έτος Γέννησης
                    </th>
                    <th class="text-center">
                        Τάξη
                    </th>                    <th class="text-center">
                        Ενέργειες
                    </th>
                </tr>
            </thead>
                <tbody>
                        <tr v-cloak v-for="(student,index) in studentsList">
                            <td 
                                class="text-center" 
                                style="padding-top: 15px;"
                            >
                                {{ index + 1 }}
                            </td>
                            <td class="text-center" v-show="individual">
                                {{ student.sport_name_special }}
                            </td>
                            <td class="text-center">
                                {{ student.am }}
                            </td>
                            <td class="text-center">
                                {{ student.last_name }}
                            </td>
                            <td class="text-center">
                                {{ student.first_name }}
                            </td>
                            <td class="text-center">
                                {{ student.middle_name }}
                            </td>
                            <td class="text-center">
                                {{ student.year_birth }}
                            </td>
                            <td class="text-center">
                                {{ className(student.class) }}
                            </td>                           
                            <td class="text-center delete-button">
                                <span 
                                    class="glyphicon glyphicon-trash pointers"
                                    @click="deleteStudent(student, index)"
                                />
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td 
                            colspan="8" 
                            class="text-center"
                        >
                            <button 
                                @click="temporarySave" 
                                class="btn btn-danger"
                            >
                                Προσωρινή Αποθήκευση
                            </button>

                                <button 
                                    v-if="teacherName !=='' && teacherName !== null"
                                    @click="openModal" 
                                    class="btn btn-primary"
                                >
                                    ΑΠΟΣΤΟΛΗ στην Ομάδα Φυσικής Αγωγής
                                </button>
                                <button 
                                    v-else
                                    disabled
                                    class="btn btn-default"
                                >
                                    ΑΠΟΣΤΟΛΗ στην Ομάδα Φυσικής Αγωγής
                                </button>
                        </td>
                    </tr>
                </tfoot>
        </table>

        <div v-else>
            <div class="col-md-4 col-md-offset-4 text-center">
                <div class="alert alert-warning">
                    <p>
                        <strong>ΔΕΝ</strong> έχετε επιλέξει κανέναν μαθητή.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            studentsList: {
                type: Array,
                required: true,
                twoWay: true
            },
            currentSport : {
                type : Object,
                required: true
            },
            individual : {
                type : Boolean,
                required : true
            },
            teacherName : {
                type : String,
                required : true
            }

        },


        data () {
            return {
                letters : ['Α', 'Β', 'Γ', 'Δ', 'Ε', 'ΣΤ']
            }
        },

        methods : {
            className(class_number){
                return this.letters[class_number-1];
            },

            deleteStudent(student, index){
                this.$emit('delete-student', {student : student, message : `Ο μαθητής ${student.last_name} ${student.first_name} διαγράφηκε από τη λίστα...`});

                this.$delete(this.studentsList, index);
            },

            temporarySave(){
                this.$emit('temporary-save', {
                    individual : this.individual
                });
            },

            openModal(){
                this.$emit('open-modal', {
                    individual : this.individual
                });
            }
        }
    }
</script>

