<template>
    <v-dialog
        v-model="show"
        persistent
        width="300"
    >
        <v-card
            color="primary"
            dark
        >
            <v-card-text>
                <p class="text-center">παρακαλώ περιμένετε...</p>
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                ></v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props:{
            show: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
