<template id="modal-agreement">
    <div
        role="dialog" 
        class="modal fade"
    >
        <div 
            role="document" 
            class="modal-dialog"
        >
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button 
                        type="button" 
                        class="close"
                        @click="close" 
                    >
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">
                            Όροι και προϋποθέσεις
                    </h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li v-if="schoolType!=='gym'">
                            Με την αποστολή, η Λίστα Συμμετοχής, καταχωρείται και στέλνεται αντίγραφο (E-mail) στο γραφείο Φυσικής Αγωγής.
                        </li>
                        <li v-else>
                            Με την αποστολή, η Κατάσταση Συμμετοχής, καταχωρείται και στέλνεται αντίγραφο (E-mail) στο γραφείο Φυσικής Αγωγής.
                        </li>
                        <li>
                            Η Σχολική Μονάδα θα πρέπει:
                            <ol>
                                <li>να ελέγξει την ορθότητα των στοιχείων,</li>
                                <li v-if="schoolType!=='gym'">
                                    να εκτυπώσει τη Λίστα συμμετοχής,
                                </li>
                                <li v-else>
                                    να εκτυπώσει τη Κατάσταση συμμετοχής,
                                </li>
                                <li>να την υπογράψει ο Διευθυντής του Σχολείου,</li>
                                <li v-if="!individual">
                                    να παραδώσει τη Λίστα στην Ο.Φ.Α., στον 1ο αγώνα της ομάδος.
                                </li>
                            </ol>
                        </li>
                    </ul>
                    <p>Αν συμφωνείτε με τους παραπάνω όρους πατήστε <b>Συνέχεια</b></p>
                </div>
                <div class="modal-footer">
                    <button 
                        type="button" 
                        class="btn btn-default"
                        @click="close" 
                    >
                        Κλείσιμο
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        @click="continueButton" 
                    >
                        Αποδοχή και Αποστολή
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
  
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true
            },
            loader : {
                type: Boolean,
                required: true,
                twoWay: true
            },
            individual : {
                type: Boolean,
                default : false
            },
            schoolType : {
                type : String,
                required  :true
            }
        },

        data () {
            return {
                datamodal : 2
            };
        },

        computed : {
            showModal () {
                return this.show;
            },
        },

        mounted () {
            this.$watch('showModal', (val)=> {
                const el = this.$el;
                const body = document.body;
                if (val) {
                    el.querySelector('.modal-content').focus();
                    el.style.display = 'block';
                    setTimeout(()=> el.classList.add('in'), 0);
                } else {
                    el.classList.remove('in');

                    setTimeout(()=> {
                        el.style.display = 'none';
                        body.style.paddingRight = '0'
                    }, 300)
                }
            }, { immediate: true })
        },

        methods : {

            close (){
                this.$emit('close-aggreement-modal');
            },

            continueButton (){
                    this.$emit('sent-request', {isIndividual : this.individual});
            }
        },

        template : '#modal-agreement',
    }
</script>

<style>
    .modal {
      transition: all 0.3s ease;
    }
    .modal.in {
      background-color: rgba(0,0,0,0.5);
    }
    .modal.zoom .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .modal.zoom.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }

    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>