<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          σχεδόν τελειώσαμε...
        </v-card-title>
        <v-card-text>
            με την πάσα θα σταλεί ένα E-mail με το περιεχόμενο του μηνύματος στην Ομάδα Φυσικής Αγωγής
            και θα σταλεί αντίγραφο στο E-mail σας (που μας έχετε δηλώσει) <div class=""></div>
        </v-card-text>
        <v-card-text>
            Ευχαριστούμε
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey lighten-2"
            text
            @click="closeDialog"
          >
            <span class="text-lowercase">επιστροφή</span>
          </v-btn>
          <v-btn
            color="green darken-4"
            outlined
            @click="submitForm"
          >
            <v-icon
                color="indigo"
            >
                mdi-football
            </v-icon>
            <span class="text-lowercase">πάσα</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
    export default {
        props:{
            dialog:{
                type: Boolean,
                default: false
            }
        },

        methods:{
            closeDialog(){
                this.$emit('close-dialog')
            },

            submitForm(){
                this.$emit('submit-form')
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>