<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      width="500"
      persistent
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Όροι και προϋποθέσεις
        </v-card-title>
        <v-card-text>
            <ul>
                <li>
                    Τα στοιχεία που δηλώνονται στην αίτηση έχουν την έννοια της υπεύθυνης δήλωσης, με βάση τα οριζόμενα στο άρθρο του Ν. 1599/86 και ψευδής δήλωση συνεπάγεται κυρώσεις που προβλέπονται από την παράγραφο 6 του άρθρου 22 του ίδιου νόμου.
                </li>
                <li>
                    Με την αποστολή, η αίτηση καταχωρείται και στέλνεται E-mail επιβεβαίωσης.
                </li>
            </ul>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-grey lighten-2"
            text
            @click="closeDialog"
          >
            <span class="text-lowercase">επιστροφή</span>
          </v-btn>
          <v-btn
            color="green darken-4"
            outlined
            @click="submitForm"
          >
            <v-icon
                color="indigo"
            >
                mdi-email-send
            </v-icon>
            <span class="text-lowercase">Αποστολή</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
    export default {
        props:{
            dialog:{
                type: Boolean,
                default: false
            }
        },

        methods:{
            closeDialog(){
                this.$emit('close-dialog')
            },

            submitForm(){
                this.$emit('submit-form')
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>