<template>
    <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="auto"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                v-model="computedDateFormatted"
                label="Ημερομηνία Εισαγωγής"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
            ></v-text-field>
        </template>
        
        <v-date-picker
            ref="picker"
            v-model="date"
            no-title
            :max="new Date().toISOString().substr(0,10)"
            min="1953-01-01"
            locale="el-GR"
            @change="save"
        ></v-date-picker>
    </v-menu>
</template>

<script>
    export default {
        props: ['birth'],
        
        data(){
            return {
                date: null,
                dateFormatted: null,
                menu: false,
            }
        },

        mounted(){
            this.date = this.birth
            this.dateFormatted = this.formatDate(this.birth)
        },

        computed: {
            computedDateFormatted () {
                return this.formatDate(this.date)
            },
        },

        watch: {
            date (val) {
                this.dateFormatted = this.formatDate(val)
                this.$emit('birth-change', val)
            },

            menu (val) {
                // val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
        },

        methods: {
            formatDate (date) {
                if (!date) return null
                const [year, month, day] = date.split('-')
                return `${day}/${month}/${year}`
            },
            save (date) {
                this.$refs.menu.save(date)
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>