<template>
    <v-app>
        <v-container>
            <v-row>
                <v-col cols="12" md="6">
                    <v-card class="mx-auto">
                        <v-card-title>
                            Ονομασία - Περιγραφή Είδους
                        </v-card-title>
                        <v-card-text>
                            <v-form ref="inventoryForm" v-model="formValidity">
                                <v-text-field
                                    v-model="name"
                                    label="Όνομα Υλικού"
                                    color="purple darken-2"
                                    outlined
                                    :rules="rules.name"
                                />

                                <v-text-field
                                    v-model.number="quantity"
                                    label="Ποσότητα"
                                    color="purple darken-2"
                                    outlined
                                    :rules="rules.quantity"
                                />

                                <v-checkbox
                                    v-model="donation"
                                    :label="`Είναι Δωρεά;`"
                                ></v-checkbox>


                                <v-select
                                    v-model="category"
                                    :items="categories"
                                    item-text="name"
                                    item-value="id"
                                    label="Κατηγορία Υλικού"
                                    :rules="rules.category"
                                ></v-select>

                                <date-picker 
                                    :birth="date_in" 
                                    v-on:birth-change="newDate"
                                />

                                <v-text-field
                                    v-model.number="amount"
                                    label="Ποσό αγοράς"
                                    color="purple darken-2"
                                    outlined
                                    :rules="rules.amount"
                                />

                                <v-textarea
                                    v-model="description"
                                    color="purple darken-2"
                                    outlined
                                    auto-grow
                                    clearable
                                    counter
                                    maxlength="120"
                                    label="Παρατηρήσεις"
                                />


                            </v-form>
                        </v-card-text>

                        <v-card-actions v-if="!submitting">
                                <v-alert
                                    v-if="returnMessage.length"
                                    outlined
                                    type="success"
                                    text
                                    dismissible
                                >
                                    {{ returnMessage }}
                                </v-alert>
                                <v-btn
                                    class="mx-auto"
                                    outlined
                                    x-large
                                    color="indigo"
                                    :disabled="!formValidity"
                                    @click="saveRecord"
                                >
                                    <v-icon
                                        large
                                        color="indigo"
                                    >
                                        mdi-email-send-outline
                                    </v-icon>
                                    <span class="text-lowercase">Εισαγωγή</span>
                                </v-btn>
                        </v-card-actions>


                        <v-card-actions v-if="submitting">
                            <loader 
                                :show="submitting"
                            />
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>

        </v-container>
    </v-app>
</template>

<script>
    import axios from 'axios'
    import Loader from '.././Loader.vue'
    import DatePicker from './DateInventory.vue'


    export default {
        props:{
            token: {
                type: String,
                required: true
            }
        },

        components: {
            DatePicker, Loader
        },

        data() {
            return {
                dialog: false,    
                submitting: false,

                returnMessage: '',
                
                name: "",
                quantity: null,
                amount: null,
                date_in: new Date().toISOString().substr(0, 10),
                donation: false,
                categories: [],
                category: null,
                description: '',

                formValidity: false,
                rules: {
                    name: [
                        value => !!value || 'Το όνομα δε μπορεί να είναι κενό.',
                    ],

                    quantity: [
                        value => !!value || 'H Ποσότητα είναι υποχρεωτική',
                        value => Number.isInteger(value) || 'Η ποσότητα πρέπει να είναι ακέραιος αριθμός'
                    ],

                    amount: [
                        value => !!value || 'Το ποσό αγοράς είναι υποχρεωτικό',
                        value => !isNaN(parseFloat(value)) || 'Η ποσότητα πρέπει να είναι αριθμός'
                    ],

                    category: [
                        value => !!value || 'είναι υποχρεωτικό',
                        value => Number.isInteger(value) || 'πρέπει να είναι αριθμός',
                        value => this.categories.some(o => o.id === value) || 'Δεν υπάρχει αυτή η κατηγορία'
                    ]
                }
            }
        },

        mounted(){
            // this.$nextTick( () => {
            //     this.$refs.amka.focus();
            // })

            this.fetchCategories();
        },

        methods:{
            newDate(data){
                this.date_in = data
            },

            closeDialog(){
                this.dialog = false;
            },
            submitForm(){
                this.dialog = false
                this.submitting = true
            },
            resetForm(){
                this.name = '',
                this.quantity = null,
                this.amount = null,
                this.date_in = new Date().toISOString().substr(0, 10),
                this.donation = false,
                this.category = null,
                this.description = ''
            },

            saveRecord(){
                console.log('saved...');
                    this.submitting = true
                    axios.post('/api/ofa/inventory/saveInventory?api_token='+this.token, {
                        name: this.name,
                        quantity: this.quantity,
                        amount: this.amount,
                        date_in: this.date_in,
                        donation: this.donation,
                        category: this.category,
                        description: this.description
                    })
                        .then(r => {
                            this.returnMessage = r.data
                            this.submitting = false
                            this.resetForm()
                            this.$refs.inventoryForm.resetValidation()
                        })
                        .catch(e => {
                            this.errors = Object.values(e.response.data.errors)
                            this.submitting = false
                            this.$refs.inventoryForm.resetValidation()
                        }) 
            },

            fetchCategories(){
                axios.get('/api/ofa/inventory/getInventoryCategories?api_token='+this.token)
                    .then(r => {
                        console.log(r.data)
                        this.categories = r.data
                        // this.submitting = false
                        // this.resetForm()
                        // this.$refs.teacherForm.resetValidation()
                        // this.replyFromSent = r.data
                        // this.errors = []
                    })
                    .catch(e => {
                        console.log(e)
                    }) 
            }
        }
    }
</script>
